// Variables and general Settings

// Font
$primaryFont: carbon--font-family('sans');
$secondaryFont: carbon--font-family('serif');
$thirdFont: Tahoma;

// Colors
$primaryColor: #5c62c5;
$secondaryColor: #363636;
