.btn {
  background-color: transparent;
  border: none;
  color: azure;
  cursor: pointer;
  font-size: 12px;
  padding: 7px 10px 7px 10px;

  transition: color 0.3s ease;

  &:focus {
    outline: none;
  }

  &:hover {
    color: darken($color: azure, $amount: 10);
  }
}

.btn-primary {
  background-color: $primary;
  border-radius: 2px;

  &:disabled {
    background-color: lighten($color: $primary, $amount: 1);
  }

  &:hover {
    background-color: darken($color: $primary, $amount: 15);
  }
}

.btn-block {
  width: 100%;
}

.btn-danger {
  background-color: crimson;
  transition: background-color 0.3s;

  &:hover {
    background-color: darken($color: crimson, $amount: 10);
  }
}

.google-btn {
  background-color: $google-blue;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  height: 42px;
  margin-top: 5px;
  width: 100%;

  transition: box-shadow 0.3s ease;

  .google-icon-wrapper {
    background-color: $white;
    border-radius: 2px;
    height: 40px;
    margin-left: 1px;
    margin-top: 1px;
    position: absolute;
    width: 40px;
  }

  .google-icon {
    height: 18px;
    margin-left: 11px;
    margin-top: 11px;
    position: absolute;
    width: 18px;
  }

  .btn-text {
    color: $white;
    float: right;
    font-size: 14px;
    letter-spacing: 0.2px;
    margin: 11px 40px 0 0;
  }

  &:hover {
    box-shadow: 0 0 6px $google-blue;
  }

  &:active {
    background: $button-active-blue;
  }
}
